ASTRA_DB_API_ENDPOINT=https://85a644b0-5199-4770-b0d5-b199e6b2a8f8-us-east1.apps.astra.datastax.com
ASTRA_DB_APPLICATION_TOKEN=AstraCS:bmHeRvBTJZFnBSgNiWkuhiPS:b9d92f7fcebf1a6a28d77387827964f909e7f69da8533f79af67ac500889bb77
# ASTRA_DB_KEYSPACE=default_keyspace
